.header {
  height: 100vh;
  display: grid;
  background: url("/images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}
