.nav {
  display: grid;
  grid-auto-flow: column;
  height: 10vh;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;

  .nav__links {
    display: grid;
    column-gap: 5rem;
    grid-auto-flow: column;
    align-items: center;
    margin-right: 5rem;

    @media screen and (max-width: 510px) {
      margin-right: 0;
      display: none;
      justify-items: center;
      align-items: center;
      grid-auto-flow: row;
      color: black;
      background-color: #fff;
      width: 85vw;
      position: absolute;
      top: 10vh;
      padding: 10rem 0 5rem 0;
      row-gap: 3rem;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      font-size: 2.4rem;
      clip-path: polygon(0 15%, 90% 15%, 100% 0%, 100% 100%, 0 100%);
      z-index: 99;
    }
  }
  .nav__logo {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: lowercase;
    font-weight: bold;
    margin-left: 5rem;
  }
  .nav__item {
    list-style: none;
    position: relative;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 0%;
      height: 0.25rem;
      position: absolute;
      left: 0;
      bottom: -1rem;
      background-color: rgba(#fff, 1);
      transition: width 0.5s ease;
    }
    &:not(:last-child):hover::after {
      width: 100%;
    }
  }
  .nav__item:last-child {
    font-family: "Fraunces", serif;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 1.65rem 3rem;

    border-radius: 5rem;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    @media screen and (max-width: 510px) {
      background-color: hsl(51, 100%, 49%);
      color: black;
    }
  }
  .nav__item:last-child:hover {
    background-color: rgba(#fff, 0.5);
    @media screen and (max-width: 510px) {
      background-color: hsl(51, 100%, 49%);
    }
  }
  .nav__item:last-child:hover > .nav__link {
    color: #fff;
    @media screen and (max-width: 510px) {
      color: black;
    }
  }
  .nav__link:link,
  .nav__link:visited {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
  }
}

.mobile-menu-icon {
  fill: rgb(255, 255, 255);
  width: 2.4rem;
  display: none;
  @media screen and (max-width: 510px) {
    display: inline-block;
    margin-right: 3rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.show-menu {
  display: grid !important;
  @include response(phone) {
    animation: fade-in 1s forwards ease;
    border: 1px solid hsl(51, 100%, 49%);
  }
}
