*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 10px
  @include response(middleware) {
    font-size: 56.25%;
    //9px
  }
  @include response(tab-land) {
    font-size: 50%;
    //8px
  }
  @include response(tab-port) {
    font-size: 43.75%;
    //7px
  }
}
body {
  min-height: 100vh;
  background-repeat: no-repeat;
}
